# Python
# Environment files
.env
.env.local
.env.production
.env.development

backend/venv/
backend/__pycache__/
backend/instance/

backend/.env
__pycache__/
*.pyc
instance/
.env

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

backend/migrate.py
